[submodule "week02/S6/lib/forge-std"]
	path = week02/S6/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week02/03_Foundry_Use/ERC20/lib/forge-std"]
	path = week02/03_Foundry_Use/ERC20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week02/03_Foundry_Use/ERC20/lib/openzeppelin-contracts"]
	path = week02/03_Foundry_Use/ERC20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week02/04_Bank_Test/lib/forge-std"]
	path = week02/04_Bank_Test/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week02/05_NFT_Market_Test/lib/forge-std"]
	path = week02/05_NFT_Market_Test/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week02/05_NFT_Market_Test/lib/openzeppelin-contracts"]
	path = week02/05_NFT_Market_Test/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week02/06_Bank_With_Frontend/lib/forge-std"]
	path = week02/06_Bank_With_Frontend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week02/06_Bank_With_Frontend/lib/openzeppelin-contracts"]
	path = week02/06_Bank_With_Frontend/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week02/07_NFTMarket_With_Backend/lib/forge-std"]
	path = week02/07_NFTMarket_With_Backend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week02/07_NFTMarket_With_Backend/lib/openzeppelin-contracts"]
	path = week02/07_NFTMarket_With_Backend/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week03/02_multi_sig_wallet/lib/forge-std"]
	path = week03/02_multi_sig_wallet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week04/01_Get_Private_Variable_By_Slot/lib/forge-std"]
	path = week04/01_Get_Private_Variable_By_Slot/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week05/01_Vesting/lib/forge-std"]
	path = week05/01_Vesting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week05/01_Vesting/lib/openzeppelin-contracts"]
	path = week05/01_Vesting/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
